# ----------------------
# Binaries
# ----------------------
*.exe
*.out

# ----------------------
# Database files
# ----------------------
*.db
*.sqlite
*.sqlite3

# ----------------------
# Go build folders
# ----------------------
/bin/
/build/

# ----------------------
# Environment files
# ----------------------
.env

# ----------------------
# IDE files
# ----------------------
.vscode/
.idea/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Wire (IMPORTANT)
# ----------------------
# wire_gen.go ignore mat karo ❌
# (isliye yaha kuch nahi likha)